<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SalesDb" connectionString="Server=afkoru.cbznxbdmnera.eu-central-1.rds.amazonaws.com;Database=SalesDB; User ID=admin	;Password=afkoru8006" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>